.footer-item {
  font-size: 0.8rem;
  color: var(--light-dark-color);
}

.footer-item:hover {
  color: var(--light-vary-dark-color);
}

#filter-todo > * {
  font-weight: bold;
}

.active-filter {
  color: var(--primary-color);
}
