@font-face {
  font-family: JosefinSans;
  src: url("assets/fonts/JosefinSans-Regular.ttf");
}

:root {
  --font-primary: JosefinSans, sans-serif;
  --light-bg-color: snow;
  --light-bg-image: url("assets/backgrounds/bg-desktop-light.jpg");
  --dark-bg-color: hsl(235, 21%, 11%);
  --dark-bg-image: url("assets/backgrounds/bg-desktop-dark.jpg")
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-repeat: no-repeat;
  background-size: cover;

}

.light-body {
  background-image: var(--light-bg-image);
  background-color: var(--light-bg-color);
}

.dark-body {
  background-image: var(--dark-bg-image);
  background-color: var(--dark-bg-color);
}


